.header {
  text-align: left;
  padding: 2rem 2rem;
  background-color: var(--primary-color) ;
  display: flex;
  justify-content: flex-start;
}

.title {
  composes: title from "../../assets/typo.module.css";
}
