.container{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  padding: 2rem;
}

.signupTitle{
  composes: title from '../assets/typo.module.css';
  align-self: center;
  padding-bottom: 2rem;
}

.label{
  padding-bottom: 0.2rem;
  color: var(--secondary-color);
  font-weight: bolder;
}

.error{
  composes: paragraphs from '../assets/typo.module.css';
  padding-bottom: 1rem;
  font-weight: bold;
  color: red;
}
