.layout {
  background: var(--light-color);
  position: relative;
  min-height: 100vh;
}
.content {
  padding: 2.5rem 2rem;
  background: var(--ultralight-color);
  border-radius: 0 0 .7rem .7rem;
  min-height: 100vh;
  padding-bottom: 5rem;
}
.contentNoSpace {
  padding: 0;
  padding-bottom: 9rem;
}
