:global(:root){
  --font-base: 1.8rem;
}

.title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--secondary-color);
}
.titleMini {
  font-family: 'Nunito', sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--secondary-color);
}
.paragraphs {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  font-weight: 300;
  color: var(--secondary-color);
}
.paragraphs p {
  font-family: 'Nunito', sans-serif;
  color: var(--secondary-color);
}
