.button {
  display: block;
  outline: none;
  border: 0;
  border-radius: .3rem;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 15px;
  font-size: 1rem;
}

.button:active {
  color: #fff;
  background-color: var(--dark-color);
}
